# This is a basic workflow to help you get started with Actions

name: Python CI

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8']

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
        	architecture: 'x64'

      # Runs a single command using the runners shell
      - name: Run a docker-compose
      	- runs:
       	 	using: 'docker'
        	image: 'Dockerfile'
        run: pip install docker-compose
        run: docker-compose run app sh -c "python manage.py test && flake8"
        	
			
